.title_size {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.float_right {
  margin-top: 20px;
  float: right;
  padding: 40px;
  text-align: center;
}

.float_left {
  margin-top: 20px;
  float: left;
  padding: 40px;
  text-align: center;
}

.festival_button_size {
  font-size: 24px;
  height: 80px;
}

.myclass_button_size {
  font-size: 24px;
  height: 120px;
}

.header_color {
  background-color: #ffcd28;
}

.center_container1 {
  display: flex;
  justify-content: center;
}
